@mixin estilo_h3 {
    font-size: 12px;
    padding-left: 23px;
    background-size: 8px;
    background-position: 0 5px;
}
@mixin estilo_h2 {
    font-size: 18px;
    padding-left: 30px;
    background-position: 0 7px;
}

h3{
    @include estilo_h3;
}

h2{
    @include estilo_h2;
}